
<h3>New book</h3>
    <div class = "text-box">
        <%= form_with model: create, local:true do |f| %>
        <p>title</p>
        <%= f.text_field :title %>
        <p>Opinion</p>
        <%= f.text_area :body %>
        <br>
        <%= f.submit 'Create Book' %>
        <% end %>
    </div>
        <div class = "errors">
            <% if @create.errors.any? %>
            <div class="warning">
                <h3>errors</h3>
                <%= @create.errors.count %>件のエラーが発生しました。
                <%= @create.errors.full_messages.each do |message| %>
                    <li> <%= message %></li>
                <% end %>
            <% end %>
            
        </div>

