<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     
      <% if user_signed_in? %>
      <table class = "default">
        <td class = "left">
          <%= link_to "Bookers", root_path %>
        </td>
      
        <td class = "right">
          <%= link_to "Home", user_path(current_user) %>
        </td>
      
        <td class = "right">
          <%= link_to "Users", users_path %>
        </td>
      
        <td class = "right">
          <%= link_to "Books", books_path %>
        </td>
        
        <td class = "right">
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </td>
      </table>
     
      <% else %>
      
      <table class = "default">
        <td class = "left">
          <%= link_to "Bookers", root_path %>
        </td>
      
        <td class = "right">
          <%= link_to "Home", root_path %>
        </td>

        <td class = "right">
          <%= link_to "About", homes_about_path %>
        </td>
      
      
        <td class = "right">
          <%= link_to "Sign up", new_user_registration_path %>
        </td>
      
        <td class = "right">
          <%= link_to "Login", new_user_session_path %>
        </td>
      </table>
      
    </header>
    <% end %>
    <%= yield %>
  </body>
</html>
